<html>
  <body>
    <p>Hello NAME_HERE,</p>

    <p>Thank you for submitting a quote.</p>

    <p>We will get back to you as soon as possible.</p>

    <p>Here are your details:</p>

    <p>Email: {{email}}</p>

    <p>Description: {{description}}</p>
  </body>
</html>